*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1606327054517-6bf0b2e84cc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #f0decc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  border-radius: 10px;
  max-width: 90vw;
  box-shadow: 0 0 15px rgb(143, 111, 136) ;
}

.container__item {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
h1 {
  font-family: 'Dancing Script', cursive;
  color: #957DAD;
  font-size: 40px;
}
p{
  font-family: 'Architects Daughter', cursive;
  color: #553C8B;
  font-size: 20px;
}

.container__item__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}


.ul {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  list-style: none;
  max-width: fit-content;
}
.li, input, button {
  font-family: 'Montserrat', sans-serif;
}
.li {
  position: relative;
  font-size: 20px;
  line-height: 35px;
  border-bottom: 1px solid #553C8B;
  margin: 10px;
}
.li::before {
  content: "";
  background-image: url(./assets/leaf.png);
  background-size: contain;
  background-position: center;
  height: 30px;
  width: 30px;
  display: inline-block; 
  position: absolute;
  left: -30px;

}
/* .li:nth-child(even):before {
  content: "";
  background-image: url(./assets/leaf.png);
  background-size: contain;
  background-position: center;
  height: 30px;
  width: 30px;
  display: inline-block; 
  position: absolute;
  left: -30px;

}
.li:nth-child(odd):before {
  content: "";
  background-image: url(./assets/leaf_three.png);
  background-size: contain;
  background-position: center;
  height: 30px;
  width: 30px;
  display: inline-block; 
  position: absolute;
  left: -30px;

} */

input {
  border: none;
  background-color: #e4f4ff;
  padding: 15px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 14px;
}
input:focus{
  box-shadow: 0 0 10px greenyellow;
}
.crossed{
  text-decoration: line-through 2px rgb(153, 18, 130);
  background-color: #f0d0e9;
}

.btn_add, .btn_clear {
  padding: 10px;
  margin-bottom: 10px;
  min-width: 70%;
  border: none;
  text-align: center;
  color: rgb(252, 241, 251);
  font-size: 18px;
}

.btn_add{
  background-color: #badbb7;
  transition: all .5s ease;
}
.btn_add:hover {
  background-color: #7ec777;
  transform: scale(.95);
}
.btn_clear{
  background-color: #FF8080;
  transition: all .5s ease;
}
.btn_clear:hover {
  background-color: #fd6161;
  transform: scale(.95);

}







@media all and (max-width: 1000px){
  body {
    background-image: url(https://images.unsplash.com/photo-1621606452946-026cd91d1ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 17px;
  }
  input, button {
    font-size: 17px;
  }
  ul {
    max-width: 100px;
  }
}